body{
    background-color: rgb(179, 206, 166);
    font-family: sans-serif;
}

h1{
    font-family: cursive, sans-serif;
    text-decoration: underline, rgb(155, 26, 26);
    text-align: center;
    font-size: 40px;
}

h2{
    color: rgb(155, 26, 26);
}

