


*{
    margin: 0;
    padding:0;

}
body{
    background-color: ivory;
    font-family: sans-serif;
}

h1{
    font-family: cursive, sans-serif;
    text-decoration: underline, rgb(155, 26, 26);
    text-align: center;
    font-size: 40px;
}

h2{
    color: rgb(155, 26, 26);
    text-decoration: underline solid green;
    text-align: center;
}

#Nav ul{
    list-style-type: none;
    text-align: center;
    padding-top: 30px;
}

#Nav ul li{
    display: inline;
    padding:10px;
    color:ivory
    
        
}
#Nav a:hover{
    color: green;
}

#Nav ul li.selected, #Nav ul li.selected a{
    background-color:green;
    color: ivory;
    padding:10px;
}
#Nav a{
    border-bottom: none;
    font-weight: bold;
    color:red;
}


#Nav_Category ul{
    list-style-type: none;
    text-align: center;
    padding-top: 30px;
    margin-top: 50px;
}  

#Nav_Category li{
    display: inline;
    padding:90px;
    color: green;
    border-bottom: none;
    font-weight: bold;
}
#Nav_Category ul li.selected{
    background-color: rgb(155, 26, 26);
    padding: 10px;
    color: ivory;
}

#Footer_Intro{
    position: absolute;
    top: 88%;
    left:25%;
    color:  rgb(155, 26, 26);
    text-align: center;
    margin: 10px;
    font-size: 90%;
    padding-top: 20px;
}

#All_Footers{
    position: absolute;
    color:  rgb(155, 26, 26);
    text-align: center;
    font-size: 90%;
    padding-bottom: 20px;
    left: 25%;
    
}


#tableContainer_home{
    text-align: center;
    overflow: hidden;
    height: 720px;
    background-color: black;
    position: relative;
}
#overlay {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
     
    background: rgba(155, 26, 26, 0.2);
  }
  
video{
   position: absolute;
   left: 50%;
   top:50%;
   transform: translate(-50%,-50%);
}
#tableContainer{
    display: table;
    border-spacing: 10px;
    
}

#tableRow{
    display: table-row
}
aside{
    display: table-cell;
    font-size:        105%;
    padding:          80px 100px 80px 0px;
    vertical-align: top;
}


#main{
    display: table-cell;
    vertical-align: top;
    font-size: 105%;
    padding: 80px 100px 10px 50px;
    margin: 15;

}
#logo{
    padding-left: 10%;
    padding-top: 100px;
    
}

.pic_right{
    padding-left: 25%;

}

.pic_left{
    padding-right: 25%;

}

#Nominee_pic{

    padding-top: 40px;
    text-align: center;

}

#tableContainer_Nominee{
    text-align: center;
    overflow: hidden;
    position: relative;
}

#Nominee_pic_description{
    position: relative;
    bottom: 80px;
    width: 50%;
    text-align: left;
    left: 225px;
    width: 700px;
    background-color:black;
    padding: 30px;
    color: ivory;
    
}
#Nominee_Vote{
    position: relative;
    bottom: 40px;
    margin-left: 100px;

}

#Vote_Button{
    width: 200px;
    height: 50px;
    background-color:  rgb(155, 26, 26);
    color: ivory;
    font-size: 13px;
    
}

Form{
    display: table;
    padding: 10px;
    border: solid rgb(155, 26, 26); 
    background-color: black;
    color: ivory;
    position: relative;
    top:50%;
    left:30%;
    margin-top: 0px;
    margin-bottom: 30px
    
    
}

form textarea{
    width: 500px;
    height:200px;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 10px;
    
}

div.tableRow{
    display:table-row;
    width: 200px
   
}


div.tableRow p{
    display: table-cell;
    vertical-align: top;
    padding: 10px;
    text-align: left;
    
}



#tableContainer_Nominate, {
    text-align: center;
    margin-top: 50px;
}



input[type=text] {
    width: 100%;
    padding:8px 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
}

input[type=number] {
    width: 15%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 20px;
} 
#Nom_Direction{
    color:black;
    text-align: center;
    text-decoration: none;
    margin-top: 90px;
    padding-left: 60px;
    font-weight: normal;
}