


*{
    margin: 0;
    padding:0;

}
body{
    background-color: rgb(179, 206, 166);
    font-family: sans-serif;
}

h1{
    font-family: cursive, sans-serif;
    text-decoration: underline, rgb(155, 26, 26);
    text-align: center;
    font-size: 40px;
}

h2{
    color: rgb(155, 26, 26);
}

#Intro_Nav ul{
    list-style-type: none;
    text-align: center;
}

#Intro_Nav li{
    display: inline;
    padding:10px;
        
}

ul li a:link, ul li a:visited{
    color: rgb(155, 26, 26);
    border-bottom: none;
    font-weight: bold;
}

ul li.selected{
    background-color: black;
    padding:10px;
    
}

footer{

    color:  rgb(155, 26, 26);
    text-align: center;
    margin: 10px;
    font-size: 90%;
    padding-top: 20px;
}
#tableContainer{
    text-align: center;
    overflow: hidden;
    height: 100%;
    background-color: black;
    position: relative;
}

video{
   position: absolute;
   left: 50%;
   top:50%;
   transform: translate(-50%,-50%);
}