#Nav ul{
    list-style-type: none;
    text-align: center;
    padding-top: 30px;
}

#Nav{
    background-color: tan;
    padding-bottom: 30px;
}

#Nav ul li{
    display: inline;
    padding:10px;
    color:rgb(201, 201, 181)
    
        
}
#Nav a:hover{
    color: rgb(80, 139, 80);
}

#Nav ul li.selected, #Nav ul li.selected a{
    background-color:rgb(80, 139, 80);
    color: ivory;
    padding:10px;
}
#Nav a{
    border-bottom: none;
    font-weight: bold;
    color:blue;
}


#Nav_Category ul{
    list-style-type: none;
    text-align: center;
    padding-top: 30px;
    margin-top: 50px;
}  

#Nav_Category li{
    display: inline;
    margin:30px;
    color: rgb(80, 139, 80);
    border-bottom: none;
    font-weight: bold;
}
#Nav_Category ul li.selected{
    background-color: rgb(155, 26, 26);
    margin: 30px;
    padding:10px;
    color: ivory;
}

#Footer_Intro{
    position: absolute;
    top: 88%;
    left:25%;
    color:  rgb(155, 26, 26);
    text-align: center;
    margin: 10px;
    font-size: 90%;
    padding-top: 20px;
}

#All_Footers{
    color:  rgb(155, 26, 26);
    text-align: center;
    font-size: 90%;
    padding-bottom: 20px;
    
    
}

#Main_Headshot{
    float: right;
}