{% load static %}
<!Doctype html>
<html>
    <head>

        <meta charset= "UTF-8">
        <link type="text/css" rel="stylesheet" href="{% static 'Wokekanda.css' %}">
        <title> Woke-kanda Awards</title>
    </head>

    <body>

        <div id="tableContainer_home">

            <video id="Intro_Video" muted autoplay loop
                    src= "(HDvd9.co)_Marvel-Studios-Black-Panther---Official-Trailer.mp4">
            </video>

        <div id="overlay">
            <nav id="Nav">
                <ul>
                    <li class="selected"><a href="Wokekanda-Home.html">HOME</a></li>
                    <li><a href="Wokekanda-About.html"> ABOUT</a></li>
                    <li><a href="Wokekanda-Category.html">CATEGORY</a></li>
                    <li><a href="Wokekanda-Nominate.html">NOMINATE</a></li>
                </ul>
    </nav>
    <footer id= Footer_Intro>
        &copy; 2018, Woke-kanda Awards
        <br>
        All trademarks and registered trademarks appearing on this site are the property of their respective owners.
    </footer
        
        <script src="{% static 'bideo.js'%}"></script>
    </body>
</html>
