{% extends "base.html" %}

{% block content %}
    <div id="tableContainer_Nominee">
        <section id="Nominee_pic">
            <img src= "{{nominee.photo.url}}" height= "50%" alt="{{nominee.title}} -- {{nominee.creator}}"> 

            <section id="Nominee_pic_description">
                <h2>{{nominee.title}}, Created By {{nominee.creator}}</h2>

                <p>{{nominee.reason_for_nomination}}</p>
            </section>

            <form id="Nominee_Vote" action="/vote">
                <input id="Vote_Button" type="submit" value="Cast Vote for {{nominee.title}} Here">
            </form>
        </section>
    </div>

{% endblock %}