{% for row in nominee_list %}
            <div class=Category_row>
                {% for nominee in row %}
                    <div class=Category_Nominee>
                        {% if nominee.photo != None %}
                        <img src="{{nominee.photo.url}}" alt="{{ nominee.title }}" style="width:100%">
                        {% endif %}
                        <p><a href="/nominee/{nominee.id}">{{ nominee.title }} - {{nominee.creator}}</a></p>
                    </div> 
                {% endfor %}

            </div>
            {% endfor %}